<div class="container mt-5" *ngIf="userProfile as user">

  <div class="row align-items-center profile-header mb-5 text-center text-md-left">
    <div class="col-md-2">
      <img
        [src]="user.profile.picture"
        class="img-fluid profile-picture mb-3 mb-md-0"
      />
    </div>
    <div class="col-md">
      <h3>{{ user.nickname }}</h3>
      <p class="lead text-muted">{{ user.profile.title }}</p>
    </div>
    <div class="col-md">
      <p class="lead text-muted">Fullname: {{ user.profile.fullname }}</p>
      <p class="lead text-muted">email: {{ user.profile.email }}</p>
    </div>
  </div>

  <div *ngIf="newuser" class="row align-items-center mb-5 text-center text-md-left">
    <div class="col-md-8">
      <h3>Welcome as new user</h3>
    </div>
  </div>

</div>
